$dark: #152022;
$neutral: #303e41;
$bright: #46555a;
$gray: #687170;
$white: #d9d8d4;

$color1: #41d6d2;
$color2: #fe4d52;
$color3: #ffc34d;

$colorYes: #50eb47;
$colorNo: $color2;

$gutter: 8px;

$loadingTime: 0.3s;

$spinnerInner: $color1;
$spinnerOuter: $neutral;

$backgroundColor: $neutral;
